<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<% if (user) { %>
	 <h1>Welcome to the app <%= user.username %></h1> 
	<% } else { %>
	 <h1>Please login or Signup!</h1>
	<% } %>

	<h1>Welcome to our App!</h1>
	<a href="/auth/sign-up">Sign Up</a>
	<a href="/auth/login">Login</a>
	<a href="/auth/logout">Logout</a>
	<a href="/vip-lounge">Only LOGIN users are allowed into the vip lounge</a>
</body>
</html>